<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <title>ChatApp. Chat page</title>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <!-- PAGE HEADER -->
        <div class="page-header text-center">
            <h2>ChatApp</h2>
        </div>
        <!-- PAGE BODY -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#chatpanel">Username: anonymous</a>
                    </h4>
                </div>
                <div id="chatpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="comment">Message:</label>
                                <textarea class="form-control" rows="3" id="comment" style="resize:none"></textarea>
                                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 5px">Send</button>
                                </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>