<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/chatarea.css">
</head>
<body>

<h2>Chat Messages</h2>

<div class="message_container">
    <img src="../../public/images/man.jpg" alt="Avatar" style="width:100%;">
    <div class="caption">
        <p>Bob</p>
    </div>
    <p>Hello. How are you today?</p>
    <span class="message_time-right">11:00</span>
</div>

<div class="message_container darker">
    <img src="../../public/images/woman.jpg" alt="Avatar" class="right" style="width:100%;">
    <div class="caption">
        <p>Alise</p>
    </div>
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="message_time-left">11:01</span>
</div>

<div class="message_container">
    <img src="../../public/images/man.jpg" alt="Avatar" style="width:100%;">
    <div class="caption">
        <p>Bob</p>
    </div>
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="message_time-right">11:02</span>
</div>

<div class="message_container darker">
    <img src="../../public/images/woman.jpg" alt="Avatar" class="right" style="width:100%;">
    <div class="caption">
        <p>Alise</p>
    </div>
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="message_time-left">11:05</span>
</div>

</body>
</html>