<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Chatick App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!--Custom style for this page-->
    <link rel="stylesheet" href="/stylesheets/chat.css"/>


</head>
<body>

<!--PAGE HEADER-->
<div class="container-fluild d-flex justify-content-center flex-column header">
    <div class="container d-flex justify-content-end flex-column logo">
        <h1>Chatick App!</h1>
        <p>Start messaging right now...</p>
    </div>
    <div class="mt-auto p-2 align-self-end profileGroup">
        <button type="button" class="btn btn-outline-primary" id="profileId"><i class="fa fa-user-circle-o"></i> Profile
        </button>
        <button type="button" class="btn btn-outline-danger" id="logoutId"><span class="fa fa-sign-out"></span> Logout
        </button>
    </div>
</div>


<div class="container">
    <!-- Chat messages area -->
    <div id="messagesDiv" class="container_fluid bg-light messagesDivHeight">
        <ul id="messages">

            <!--DO NOT DELETE, HTML EXAMPLE-->
            <!--<li class="d-flex message-container">-->
            <!--<div class="d-flex flex-column align-items-center message-avatar">-->
            <!--<i class="fa fa-user usersAvatarIcon"></i>-->
            <!--<div>Username</div>-->
            <!--</div>-->
            <!--<div class="container-fluid d-flex flex-column">-->
            <!--<div>Hello. How are you today?-->
            <!--Hello. How are you today? Hello. How are you today? Hello. How are you today? Hello. How are you-->
            <!--today? Hello. How are you today? Hello. How are you today? Hello. How are you today?-->
            <!--Hello. How are you today? Hello. How are you today? Hello. How are you today? Hello. How are you-->
            <!--today? Hello. How are you today? Hello. How are you today?-->
            <!--Hello. How are you today? Hello. How are you today?-->
            <!--</div>-->
            <!--<div class="mt-auto p-2 align-self-end message-time"></div>-->
            <!--</div>-->
            <!--</li>-->

        </ul>
    </div>

    <!-- Input message area -->
    <div class="container_fluid">
        <input type="text" class="form-control input_message" id="inputMessage" maxlength="200"
               placeholder="Type here..."/>
    </div>


    <!-- Users area -->
    <div class="container_fluid usersDivArea">
        <ul class="nav nav-tabs">
            <li class="nav-item active" id="onlineUsersId"><a class="nav-link active" data-toggle="tab"
                                                              href="#onlineUsersDiv">Online</a>
            </li>
            <li class="nav-item" id="allUsersId"><a class="nav-link" data-toggle="tab" href="#allUsersDiv">All</a></li>
        </ul>
        <div class="tab-content usersDiv">

            <!-- Online users area -->
            <div id="onlineUsersDiv" class="tab-pane active">
                <ul id="onlineUsersUl" class="list-inline d-flex justify-content-start usersUl">

                    <!--DO NOT DELETE, HTML EXAMPLE-->
                    <!--<li class="list-inline-item text-center userLiItem">-->
                    <!--<div class="d-none d-md-block d-xl-block">-->
                    <!--<i class="fa fa-user usersAvatarIcon"></i>-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--<i class="fa fa-circle text-success"></i>-->
                    <!--Username-->
                    <!--</div>-->
                    <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-danger btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-remove managingIcon"></i></button>-->
                    <!--<button type="button" class="btn btn-warning btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-volume-off managingIcon"></i></button>-->
                    <!--<button type="button" class="btn btn-info btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-volume-up managingIcon"></i></button>-->
                    <!--<button type="button" class="btn btn-success btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-user-plus managingIcon"></i></button>-->
                    <!--</div>-->
                    <!--</li>-->

                </ul>
            </div>

            <!-- All users area. Visible only if you have admin's rights  -->
            <div id="allUsersDiv" class="tab-pane">
                <ul id="allUsersUl" class="list-inline d-flex justify-content-start usersUl">

                    <!--DO NOT DELETE, HTML EXAMPLE-->
                    <!--<li class="list-inline-item text-center userLiItem">-->
                    <!--<div class="d-none d-md-block d-xl-block"><i class="fa fa-user usersAvatarIcon"></i></div>-->
                    <!--<h6>Username</h6>-->
                    <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-danger btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-remove"></i></button>-->
                    <!--<button type="button" class="btn btn-warning btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-volume-off"></i></button>-->
                    <!--<button type="button" class="btn btn-info btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-volume-up"></i></button>-->
                    <!--<button type="button" class="btn btn-success btn-sm btn-admin-btn"><i-->
                    <!--class="fa fa-user-plus"></i></button>-->
                    <!--</div>-->
                    <!--</li>-->

                </ul>
            </div>
        </div>
    </div>

    <!--INFO messages area-->
    <div class="container_fluid infoDiv">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#infoArea">Info</a>
            </li>
        </ul>
        <div id="infoArea" class="tab-pane active container_fluid infoDivTab">
            <ul id="infoUl" class="container_fluid infoUl">

                <!--DO NOT DELETE, HTML EXAMPLE-->
                <!--<li >-->
                <!--Info message bla-bla! Info message bla-bla! Info message bla-bla! Info message bla-bla! Info-->
                <!--message bla-bla! Info message bla-bla! Info message bla-bla! Info message bla-bla! Info message-->
                <!--bla-bla!-->
                <!--</li>-->

            </ul>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Profile info</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->

                <!--<div class="d-flex flex-column">-->
                    <!--<div class="p-2 d-flex justify-content-center">-->
                        <!--<i class="fa fa-user align-self-center profileAvatarIcon"></i>-->
                    <!--</div>-->
                    <!--<div class="p-2">-->
                        <!--<table class="table table-bordered table-hover">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<th scope="row">Username:</th>-->
                                <!--<td>Mark</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<th scope="row">Email:</th>-->
                                <!--<td>user@mail.com</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<th scope="row">Role:</th>-->
                                <!--<td>user</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>

</body>
</html>