<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up page</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</head>
<body>

<div class="login-page">
    <div class="form">
        <div style="margin-top: 18px;">
            <form class="login" method="post" accept-charset="ISO-8859-15">
                <input type="text" name="username" placeholder="username"/>
                <input type="email" name="email" placeholder="email"/>
                <input type="password" name="password" placeholder="password"/>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>


<script>
    localStorage.token = null;
    $('form').on('submit', e => {
        e.preventDefault();
        let value = $(e.target).attr('class');
        let selector = '.' + value;
        $.ajax({
            url: '/' + value,
            type: 'POST',
            data: {
                username: $(selector + ' [name=username]').val(),
                email: $(selector + ' [name=email]').val(),
                password: $(selector + ' [name=password]').val()
            },
            beforeSend: () => {
                $(selector + ' button').prop('disabled', true);
            },
            success: (res) => {
                localStorage.token = res.token;
                // работает, перенаправляем на следю страницу
                window.location.replace(window.location.href + "chat");
                alert(JSON.stringify(res));
            },
            error: (res) => {
                localStorage.token = '';
                alert(JSON.stringify(res));
            },
            complete: () => {
                $(selector + ' button').prop('disabled', false);
            }
        });
        return false;
    });
</script>

</body>
</html>