<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up page</title>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!--Custom style for this page-->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>


<!--PAGE HEADER-->
<div class="container-fluild d-flex justify-content-center flex-column header">
    <div class="container d-flex justify-content-center flex-column logo">
        <h1>Chatick App!</h1>
        <p>Start messaging right now...</p>
    </div>
</div>


<!--LOGIN FORM-->
<div class="login-page">
    <div class="form">
        <form class="login" method="post">
            <input type="text" class="form-control input-lg " name="username" id="username" placeholder="Username"
                   required="required" pattern='[A-Za-zА-Яа-яЁёІіЪъ0-9\s]{3,20}'
                   title="Only Numbers, Latin and Cyrillic alphabet are allowed. The minimum length is 3 characters, max - 20.">
            <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email address"
                   required="required" title="Input valid email address"/>
            <input type="password" class="form-control input-lg" name="password" id="password"
                   placeholder="Password"
                   required="required" minlength='6' title="Minimum length is 6 characters."/>
            <button class="btn signup-btn" type="submit">Sign Up</button>
        </form>
    </div>
</div>


<!--Modal, that is used to show possible errors after server has been handled data from sign up form -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informational message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageItem">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/index.js"></script>


</body>
</html>