extends layout

block body
    .col-sm-6.col-sm-offset-3

        // PAGE HEADER. DESCRIPTION
        .page-header.text-center
            h2 Chatick App



        // PAGE BODY. AUTHENTICATION FORM
        form.form-horizontal(action='/api/login', method='post')
            //EMAIL block
            .form-group
                label.col-sm-2.control-label(for='email') Email
                .col-sm-10
                    input#email.form-control(type='email', name='email', placeholder='example@gmail.com', title="Input valid email address")
            //USERNAME block
            .form-group
                label.col-sm-2.control-label(for='username') Username
                .col-sm-10
                    input#username.form-control(name='username', placeholder='Anonymous', pattern='[A-Za-zА-Яа-яЁё]{3,}', title="Only Latin and Cyrillic alphabet are allowed. The minimum length is 3 characters.")
            // PASSWORD block
            .form-group
                label.col-sm-2.control-label(for='password') Password
                .col-sm-10
                    input#password.form-control(type='password', name='password', placeholder='Password', minlength='8', title="Minimum length is 8 characters.")
            // LOGIN BUTTON block
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-success(type='submit') Login