<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Authentication</title>
</head>

<body>
<h1>JWT #1</h1>
<div>
    <button id="test">Socket Auth</button>
    <button id="goodLogin">Login. Get token</button>
    <button id="badLogin">Bad Login</button>
    <button id="logout">Logout</button>
    <br/>
    <button id="ban_user">ban</button>
    <button id="unban_user">unban</button>
    <button id="mute_user">mute</button>
    <button id="unmute_user">unmute</button>
    <button id="new_message">new message</button>
    <button id="get_all_users">get all users</button>
    <button id="remove_messages">remove messages</button>

</div>

<div><textarea id="token" cols="40" rows="10"></textarea></div>
<div><textarea id="info" cols="40" rows="10"></textarea></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let socket;

        $('#test').click(function () {
            socket = io.connect('http://localhost:3000');
            socket.on('connect', function () {
                socket.emit('authenticate', {token: localStorage.token1}).on('authenticated', function (message) {


                    $('#ban_user').click(function () {
                        socket.emit('ban user', 'maks@mail.com');
                    });

                    $('#unban_user').click(function () {
                        socket.emit('unban user', 'maks@mail.com');
                    });

                    $('#mute_user').click(function () {
                        socket.emit('mute user', 'maks@mail.com');
                    });
                    $('#unmute_user').click(function () {
                        socket.emit('unmute user', 'maks@mail.com');
                    });
                    $('#get_all_messages').click(function () {
                        socket.emit('get all messages');
                    });

                    $('#new_message').click(function () {
                        socket.emit('new message', {
                            email: 'maks@mail.com',
                            message: '!!!super secret test message!!!'
                        });
                    });
                    $('#remove_messages').click(function () {
                        socket.emit('remove messages');
                    });

                    //describe on events
                    socket.on('login', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + data;
                    });
                    socket.on('user joined', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + data;
                    });
                    socket.on('info', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + data;
                    });
                    socket.on('new message', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('banned', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('unbanned', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('mute user', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('muted', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('unmute user', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('unmuted', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('get all users', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('remove messages', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + '\n' + data;
                    });
                    socket.on('get all messages', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = infoBlock.innerText + data;
                    });
                    socket.on('user left', data => {
                        console.log(JSON.stringify(data));
                        let infoBlock = $('#info');
                        infoBlock.innerText = data;
                    });
                })
                    .on('unauthorized', function (message) {
                        console.log("unauthorized: " + JSON.stringify(message));
                        alert('Your token has been expired! Please login again!');
                        window.location.replace("https://www.google.com/");
                    })
            });
        });


        $('#goodLogin').click(function () {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    email: "maks@mail.com",
                    username: "maks",
                    password: "123123123"
                },
                success: function (data) {
                    localStorage.token1 = data.token;
                    document.getElementById("token").innerText = localStorage.token1;
                },
                error: function () {
                    alert("Login Failed");
                }
            });
        });
        $('#badLogin').click(function () {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    email: "admin@admin.com",
                    username: "john.doe",
                    password: "foobarfoobar"
                },
                success: function (data) {
                    alert("ERROR: it is not supposed to alert.");
                },
                error: function () {
                    document.getElementById("token").innerText = '';
                    alert("Login Failed");
                }
            });
        });
        $('#logout').click(function () {
            localStorage.clear();
            document.getElementById("token").innerText = '';
        });


    });
</script>
</body>

</html>