doctype html
html
    head
        title= title
        meta(charset='utf-8', name='viewport', content='width=device-width initial-scale=1 shrink-to-fit=no')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        .container.col-xs-12
            block body
            footer
                .footer_container.text-center
                    small &copy; Chatick App. Maksym Pinchuk. 2018
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
