doctype html
html
    head
        title= title
        meta(charset='utf-8', name='viewport', content='width=device-width initial-scale=1 shrink-to-fit=no')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        .container.col-xs-12
            block body