doctype html
html
    head
        title Chat page
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/chat.js')
    body
        #error-container
        input#name(type='text', name='name', value='', placeholder='Enter your name!')
        button(type='button', name='button', onclick='setUsername()')
            | Let me chat!
