extends layout

block body
    div
        .col-xs-12
            // PAGE HEADER
            .page-header.text-center
                h2 Chatick App


            // PAGE BODY
            .panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', href='#chatpanel') Username: #{username}
                    #chatpanel.panel-collapse.collapse
                        .panel-body
                            .form-group.col-xs-12
                                label(for='messageArea') Chat:
                                textarea#messageArea.form-control(onclick='this.focus();this.select()', readonly='', style='\
                              resize: none;\
                              height: (100% - 60px);\
                              color:black;\
                              background-color: #fdf5e6')
                                form(action='')
                                    .form-group
                                        .input-group
                                            input#m.form-control.input.chat_input(style='margin-top:10px', autocomplete='off', maxlength="200",)
                                            span.input-group-btn
                                                button#btn-chat-old.btn.btn-primary(style='margin-top:10px') Send
                        .panel-footer